#layer_person
{
	display: grid;
	grid-template-columns: 1fr max-content;
	column-gap: 20px;
	align-items: center;

	padding: 20px 30px 0 0;

	border-top: 2px solid var(--border-color);
	border-right: 2px solid var(--border-color);
	border-radius: 0 4px 0 0;
}

.text-clause-info
{
	width: 100px;
}