#layer_person
{
	display: grid;
	width: 100%;
	padding: 0;
	overflow: hidden;

	max-height: 0;
	grid-template-columns: 0 1fr 0;
}

#layer_avatar
{
	border: 2px dashed var(--foreground-color);
	padding: 2px;

	border-radius: 50%;
}

#layer_qr
{
	width: 100%;
	height: 100%;
}

#reminder_version
{
	position: relative;
	transform: rotate(-12deg);

	margin-top: 60px;
}

#reminder_version_content
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: max-content;
	text-align: center;
	margin-top: 13px;
}

#reminder_version_content::selection
{
	background-color: transparent;
}

#reminder_version_content,
#reminder_version_content_data
{
	font: 28px/30px 'TeX Gyre Chorus';
}