layer-background.II > .layer-background-half.left
{
	width: calc(200% - 20px);
}

layer-background.II > .layer-background-half.right
{
	z-index: -99;
}

.float-right
{
	float: right;
}

layer-background.II
{
	column-gap: 10px;
}

layer-background.II > .layer-background-half.left
{
	margin: 20px 0 20px 10px;
}

layer-background.II > .layer-background-half.right
{
	margin: 20px 10px 20px 0;
}