layer-background
{
	position: relative;
	z-index: 1;

	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	column-gap: 10px;

	height: var(--body-height);

	background-color: var(--background-color);
	color: var(--foreground-color);

	cursor: unset;
	user-select: unset;
	-ms-user-select: unset;
	-webkit-user-select: unset;
}

#layer_background_matrix
{
	position: absolute;
	z-index: -1;

	display: flex;
	flex-wrap: wrap;

	cursor: default;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

#layer_background_matrix > span
{
	font: 25px/25px 'Roboto Mono', monospace;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 25px;
	height: 25px;
}

.layer-background-page-top,
.layer-background-page-bottom
{
	position: absolute;
	z-index: 99;

	display: grid;
	justify-content: center;
	align-items: center;

	width: 50px;
	height: 50px;
	left: calc(50% - 25px);

	background-color: var(--foreground-color);
	color: var(--background-color);
	border-radius: 25%;

	transform: rotate(45deg);
}

.layer-background-page-top
{
	top: calc(25% - 25px);
}

.layer-background-page-bottom
{
	top: calc(75% - 25px);
}

.layer-background-page-container
{
	font-weight: 500;

	letter-spacing: 1px;
	transform: rotate(-45deg);
}

.layer-background-half
{
	display: grid;
	grid-template-rows: auto max-content max-content max-content max-content;
	row-gap: 10px;
}

.layer-background-half.left
{
	margin: 10px 0 0 10px;
}

.layer-background-half.right
{
	margin: 10px 10px 0 0;
}

.layer-background-middle
{
    object-fit: fill;
	width: 90px;
	height: var(--body-height);
	margin: 0 auto;
}

.layer_background_half_left > *,
.layer_background_half_right > *
{
	margin-bottom: 40px;
}

.text-left
{
	text-align: left;
}

.text-right
{
	text-align: right;
}