text-entry-left,
text-entry-right
{
	display: grid;
	column-gap: 10px;

	align-items: baseline;
}

text-entry-left
{
	grid-template-columns: 1fr 14px;
	text-align: right;
}

text-entry-right
{
	grid-template-columns: 14px 1fr;
	text-align: left;
}

text-entry-left:not(.text-entry-drawn) > span,
text-entry-right:not(.text-entry-drawn) > span
{
	line-height: 1.5;
}

.text-entry-drawn
{
	background-color: var(--stamp-blue-color);
	color: var(--background-color);
	border-radius: 4px;

	margin: 0 -10px;
	padding: 15px 10px;
}

.text-entry-drawn > span,
.text-entry-drawn + text-entry-left > span,
.text-entry-drawn + text-entry-right > span,
.text-entry-drawn + text-entry-left + text-entry-left > span,
.text-entry-drawn + text-entry-left + text-entry-right > span,
.text-entry-drawn + text-entry-right + text-entry-left > span,
.text-entry-drawn + text-entry-right + text-entry-right > span
{
	display: grid;
	grid-template-columns: max-content 1fr max-content;
}

.text-entry-mark-img-left,
.text-entry-mark-img-right
{
	margin: auto;
}