layer-person
{
	display: grid;
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
	grid-column-gap: 10px;

	padding: 10px 20px 0 0;

	border-top: 2px solid var(--border-color);
	border-right: 2px solid var(--border-color);
	border-radius: 0 4px 0 0;
}