layer-title-left
{
	display: block;
	padding-right: 10px;
	border-right: 2px solid var(--border-color);
}

layer-title-right
{
	display: block;
	padding-left: 10px;
	border-left: 2px solid var(--border-color);
}

.layer-title-caption-left
{
	display: grid;
	grid-template-columns: auto max-content;
	margin: 0 10px 20px 0;
}

.layer-title-caption-right
{
	display: grid;
	grid-template-columns: max-content auto;
	margin: 0 0 20px 10px;
}

.layer-title-caption-left > span,
.layer-title-caption-right > span
{
	font-weight: 500;
}

.layer-title-hr-left
{
	margin: auto 20px 0 0;
}

.layer-title-hr-right
{
	margin: auto 0 0 20px;
}